{% extends "layout.html" %}

{% block content %}


<!-- ----------------- C H A N N E L   A C T I O N S ------------------- -->

<div style="flex-direction: column; width: 100%;">

	<div class="content-section">

		<div class="div-row">
			<div class="title div-column col-30">
				Channel Actions
			</div>

			<div class="div-column col-10" style="justify-content: flex-end; padding-right: 0.6rem; padding-bottom: 1rem;">
				Channel:
			</div>
			<div class="div-column col-30" style="padding-bottom: 1rem;">
				<div style="width: 100%;">
					<select class="custom-select" id="idChannelSelect"
						onchange="tethys.actions.onChannelChange()">
					</select>
				</div>
			</div>

			<div class="title div-column col-3" style="margin-left: auto;">
				<div class="button" id="idDeleteAllButton" title="Delete all actions for this channel">
					<img src="../static/images/svg/delete.svg" width="28" height="28"
						onclick="tethys.actions.requestDeleteAll()" />
				</div>
			</div>
		</div>

		</div>


		<div class="div-row table-header">
			<div class="div-column div-column-padding col-20" style="cursor: pointer;"
				onclick="tethys.actions.sortBy('id')">
				ID <span id="idSortIndicator_id"></span>
			</div>
			<div class="div-column div-column-padding col-20" style="cursor: pointer;"
				onclick="tethys.actions.sortBy('actionType')">
				Type <span id="idSortIndicator_actionType"></span>
			</div>
			<div class="div-column div-column-padding col-20" style="cursor: pointer;"
				onclick="tethys.actions.sortBy('startTime')">
				Start Time <span id="idSortIndicator_startTime"></span>
			</div>
			<div class="div-column div-column-padding col-20" style="cursor: pointer;"
				onclick="tethys.actions.sortBy('endTime')">
				End Time <span id="idSortIndicator_endTime"></span>
			</div>
			<div class="div-column div-column-padding col-20" style="cursor: pointer;"
				onclick="tethys.actions.sortBy('duration')">
				Duration <span id="idSortIndicator_duration"></span>
			</div>
			<div class="div-column div-column-padding col-2">
				<div style="width: 42px; visibility: hidden;"></div> 
			</div>
		</div>

		<div id="actionRows">
			<!-- /////////////////// -->
			<!-- FILLED BY FORMATTER -->
			<!-- /////////////////// -->
		</div>
	</div>

</div>


<!-- ----------------- D E L E T E   C O N F I R M A T I O N ------------------- -->

<div id="popup_delete_confirmation_actions" class="overlay">
	<div class="popup content-section">
		<h2>Delete Confirmation</h2>
		<a class="close" href="#">&times;</a>
		<div class="content" id="idActionsDeleteMessage">
			Do you want to delete the selected action?
		</div>
		<div class="popup-button" onclick="tethys.actions.confirmDelete()">
			<a href="#">OK</a>
		</div>
	</div>
</div>


{% endblock %}
