[Unit]
Description=Tethys Website
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/Repos/tethys/Software/Pi/src/tethys_web.py
WorkingDirectory=/home/airic/Repos/tethys/Software/Pi/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
