[Unit]
Description=Tethys API
After=network.target

[Service]
ExecStart={TETHYS-PATH}/env_tethys/bin/gunicorn -c {TETHYS-PATH}/api/conf/gunicorn_config.py tethys_api.wsgi
WorkingDirectory={TETHYS-PATH}/api/
Environment="PATH={TETHYS-PATH}/env_tethys/bin"
StandardOutput=inherit
StandardError=inherit
Restart=always
#User=root

[Install]
WantedBy=multi-user.target
