server {
    listen 80;
    server_name tethysDev.local;
    root {TETHYS-PATH}/web/;
    
    location /static {
        alias /var/www/tethys/staticcollect;
    } 

    location / {
        proxy_pass http://localhost:8000;
    }
} 
